In [1]:
import bs4
import requests as rq
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.alert import Alert
import re

In [2]:
my_driver = webdriver.Chrome('chromedriver.exe')

In [3]:
url = 'https://hakwon.sen.go.kr/edusys.jsp?page=scs_m83000'
my_driver.get(url)

In [210]:
locate = my_driver.find_element_by_id('selSearchZoneCode')
locate_list = locate.text.split()
locate.send_keys(locate_list[4])
print(len(locate_list))

25

In [211]:
school = my_driver.find_element_by_id('selSearchKindCode')
school_list = school.text.split()
school_list.pop(0)
school.send_keys(school_list[0])
school_type = my_driver.find_element_by_id('selSearchTypeCode')
school_type.send_keys('독서실')
search_button = my_driver.find_element_by_id('btn_search')
search_button.click()

In [24]:
next_btn = my_driver.find_element_by_id('paglPg_next_btn')

download_btn = my_driver.find_element_by_id('btnExport')
number_btn = my_driver.find_elements_by_css_selector('li.w2pageList_li_label')
while True:
    if len(number_btn)==1:
        number_btn[0].click()
        time.sleep(1)
        download_btn.click()
        time.sleep(2)
        break;
    for i in range(len(number_btn)):
        number_btn = my_driver.find_elements_by_css_selector('li.w2pageList_li_label')
        download_btn = my_driver.find_element_by_id('btnExport')
        print(i)
        number_btn[i].click()
        time.sleep(1)
        download_btn.click()
        time.sleep(2)
    next_btn = my_driver.find_element_by_id('paglPg_next_btn')
    if next_btn.is_displayed():
        next_btn.click()
    else : 
        break;
    time.sleep(1)

0
1
2
3
4
5
6
7
8

In [87]:
next_btn = my_driver.find_element_by_id('paglPg_next_btn')
next_btn.is_displayed()

False

In [109]:
number_btn = my_driver.find_elements_by_css_selector('li.w2pageList_li_label')
number_btn_list = [text.text for text in number_btn]
len(number_btn)

10

In [9]:
number_btn = my_driver.find_elements_by_css_selector('li.w2pageList_li_label')
len(number_btn)

7

In [23]:
df1 = pd.read_excel('C:/Users/kyeon\Desktop/인하공전/4학년/멋쟁이 사자처럼 K-digital 2기/Jupyter Notebook/1차 프로젝트\종합/양천구~중랑구(종합).xlsx',sheet_name='양천구', header=1)

In [24]:
df1

,순번,학원명,설립자\n강사,교습\n과정,교습\n과목,정원,교습\n기간,총교습시간\n(분),교습비등\n(C=A+B),교습비(A),...,학원명.6,설립자\n강사.6,교습\n과정.6,교습\n과목.6,정원.6,교습\n기간.6,총교습시간\n(분).6,교습비등\n(C=A+B).6,교습비(A).6,적용일\n(최종교습비변경일).6
0,1,골든벨독서실,3,독서실(유아/초·중·고),열람실이용료,100,1개월 0일,0,"115,000","115,000",...,그릿프리미엄독서실,1.0,독서실(유아/초·중·고),1-7열람실(청소년),58.0,1개월 0일,29988.0,"135,000","135,000",2017.03.10
1,1,골든벨독서실,3,독서실(유아/초·중·고),열람실이용료,100,1개월 0일,0,0,0,...,그릿프리미엄독서실,1.0,독서실(유아/초·중·고),1-7열람실(청소년),58.0,1개월 0일,29988.0,0,0,2017.03.10
2,1,골든벨독서실,3,독서실(유아/초·중·고),열람실이용료,100,1개월 0일,0,0,0,...,그릿프리미엄독서실,1.0,독서실(유아/초·중·고),1-7열람실(청소년),58.0,1개월 0일,29988.0,0,0,2017.03.10
3,2,골든벨독서실,3,독서실(유아/초·중·고),일일이용료,100,0개월 1일,0,"10,000","10,000",...,그릿프리미엄독서실,1.0,독서실(유아/초·중·고),8-11열람실(청소년),17.0,1개월 0일,29988.0,"130,000","130,000",2017.03.10
4,2,골든벨독서실,3,독서실(유아/초·중·고),일일이용료,100,0개월 1일,0,0,0,...,그릿프리미엄독서실,1.0,독서실(유아/초·중·고),8-11열람실(청소년),17.0,1개월 0일,29988.0,0,0,2017.03.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,391,한글독서실,3,독서실(유아/초·중·고),학생주간석,137,1개월 0일,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1172,391,한글독서실,3,독서실(유아/초·중·고),학생주간석,137,1개월 0일,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1173,392,한글독서실,3,독서실(유아/초·중·고),학생일석,137,1개월 1일,0,"10,000","10,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1174,392,한글독서실,3,독서실(유아/초·중·고),학생일석,137,1개월 1일,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1175,392,한글독서실,3,독서실(유아/초·중·고),학생일석,137,1개월 1일,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
alert.text

'전 화 : 070-7443-3099\n주 소 : 서울특별시 강남구 삼성로69길 11 , 2층 전체 (대치동)'

In [147]:

reg_ex = re.compile("([가-힣A-Za-z]+\s[가-힣A-Za-z]+\s[가-힣A-Za-z·\d~\-\.]+(로|길).[\d]+)|([가-힣A-Za-z]+\s[가-힣A-Za-z]+\s[가-힣]+(\d{1,5}|)+(읍|면|동|가|리).[\d]+)")
alert = my_driver.switch_to.alert
m = reg_ex.search(alert.text)
print(m.group())

서울특별시 성동구 행당동 79

In [212]:
#독서실 주소 가져오기
def get_school_address(school_address_list):
    #도로명 주소 or 구 주소 가져오기
    reg_ex = re.compile("([가-힣A-Za-z]+\s[가-힣A-Za-z]+\s[가-힣A-Za-z·\d~\-\.]+(로|길).[\d]+)|([가-힣A-Za-z]+\s[가-힣A-Za-z]+\s[가-힣]+(\d{1,5}|)+(읍|면|동|가|리).[\d]+)")
    a_address = my_driver.find_elements_by_css_selector('nobr a')
    school_name_list = [name for name in a_address if re.compile("\D").search(name.text)]
    for i in school_name_list:
        i.click()
        time.sleep(0.05)
        alert = my_driver.switch_to.alert
        m = reg_ex.search(alert.text)
        school_address_list.append(m.group())
        alert.accept()

In [213]:
school_address_list = []
while True:
    number_btn = my_driver.find_elements_by_css_selector('li.w2pageList_li_label')
    print("페이지 수 : ",len(number_btn))
    if len(number_btn)==1:
        get_school_address(school_address_list)
        break;
    for i in range(len(number_btn)):
        number_btn = my_driver.find_elements_by_css_selector('li.w2pageList_li_label')
        print(i)
        number_btn[i].click()
        time.sleep(0.5)
        get_school_address(school_address_list)
    next_btn = my_driver.find_element_by_id('paglPg_next_btn')
    if next_btn.is_displayed():
        next_btn.click()
        time.sleep(1)
    else : 
        break;

페이지 수 :  10
0
1
2
3
4
5
6
7
8
9
페이지 수 :  4
0
1
2
3

In [215]:
df = pd.DataFrame({"주소" : school_address_list})
df

                      주소
0       서울특별시 관악구 은천로 81
1       서울특별시 관악구 은천로 81
2       서울특별시 관악구 은천로 81
3     서울특별시 관악구 법원단지길 28
4     서울특별시 관악구 법원단지길 28
..                   ...
130    서울특별시 관악구 문성로 102
131    서울특별시 관악구 보라매로 34
132    서울특별시 관악구 보라매로 34
133  서울특별시 관악구 관악로11길 17
134     서울특별시 관악구 난향길 24

[135 rows x 1 columns]

In [203]:
df.to_excel('중랑구.xls')